.MuiDialog-paper {
  overflow-y: unset !important;
}
.closeBtn {
  background: #fff;
  outline: none;
  border: none;
  display: flex;
  cursor: pointer;
  margin-left: auto;
  padding: 20px 20px;
  img {
    width: 20px;
    height: 20px;
  }
}

.dialog_wrapper {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  @media (min-width: 980px) {
    > div {
      width: 600px !important;
      height: 600px !important;
    }
  }
  @media (max-width: 980px) {
    > div {
      width: 758px !important;
      height: 540px !important;
    }
  }
  @media (max-width: 980px) {
    > div {
      width: 758px !important;
      height: 474px !important;
    }
  }
  @media (max-width: 768px) {
    > div {
      width: 420px !important;
      height: 263px !important;
    }
  }
  @media (max-width: 425px) {
    > div {
      width: 310px !important;
      height: 194px !important;
    }
  }
}

.MuiDialog-paperScrollPaper {
  height: auto;
}
